*{
  font-family: Helvetica;
}
h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  text-align: center;
  font-size: 100px;
  color: khaki;
}
#brushes {
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
}
.price {
  color: blue;
  font-weight: bold;
}

#frames {
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
}

#paint {
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
}
